#leftBar {
    width: 60%;
    max-width: 250px;
    height: 100dvh;
    background-color: white;
    box-shadow: 0vw 2vw 10vw rgb(3,3,3,0.1);
    display: grid;
    position: fixed;
    transition: width 0.4s ease;
    overflow-x: hidden;
    float: left;
}

#logoContainer {
    box-sizing: border-box;
    width: 90%;
    height: 10dvh;
    margin: 0 auto;
    margin-top: 2dvh;
    display: flex;
}

#logo {
    width: 100%;
    height: 10dvh;
    object-fit: contain;
}

.navBar {
    box-sizing: border-box;
    height: 78dvh;
    padding-top: 5dvh;
}

.navBox {
    box-sizing: border-box;
    width: 90%;
    height: 12%;
    margin: 0 auto;
    margin-bottom: 4%;
    color: #B0B0B0;
    display: flex;
    border-radius: 7px;
    padding: 7%;
}

#iconBox {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

#labelBox{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15%;
}

#iconBox i {
    font-size: 1.8em;
}

#navLabel {
    font-family: 'Montserrat';
    font-size: 0.8em;    
    color: black
}

a {
    text-decoration: none;
    color: inherit;
}

.navBox:hover {
    background-color: #F5F5F5;
}

.navBox.active {
    background-color: #00A885;
    color: white;
}

.exitContainer {
    box-sizing: border-box;
    height: 10dvh;
    width: 90%;
    margin: 0 auto;
    color: #B0B0B0;
    padding: 7%;
}

.close {
    transform: translateX(0%);
}

#openBar {
    float: left;
    font-size: 1.5em;
    color: white;
    margin-left: 3dvw;
    margin-top: 2dvw;
    position: fixed;
}

#nav2Label {
    font-family: 'Montserrat';
    font-size: 0.8em;    
}

#labelBox2{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15%;
}
#iconBox2 {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navBox2 {
    box-sizing: border-box;
    width: 100%;
    height: 5%;
    margin: 0 auto;
    color: #B0B0B0;
    border-radius: 7px;
    display: flex;
}

.navBox2:hover {
    background-color: #E5F6F3;
}
.navBox2.active {
    background-color: #A6E1D4;;
}

#underNav {
    width: 90%;
    display: none;
    height: auto;
    margin: 0 auto;
}

#upperBar {
    width: 100dvw;
    height: 12dvh;
    background-color: #00A885;
    position: fixed;
    box-shadow: 0vw 2vw 10vw rgb(3,3,3,0.1);
}

@media (max-width: 768px) {
    #upperBar {
        width: 100dvw;
        height: 5dvh;
    }
    #mainContent {
        margin-top: 5dvh;
    }
    .topRight {
        width: 40%;
        height: 5dvh;
        top: 0dvw;
        right: 0;
        display: flex;
        align-items: center;
    }
    #name {
        font-size: 10px;
        margin-left: 1em;
    }
    .topRight i {
        font-size: 15px;
    }
}
